<h1>Cart</h1>
  <div class="table-responsive">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Product</th>
            <th></th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th></th>
          </tr>
        </thead>
          {{# each items }}
        <tbody>
          <tr>
            <td><img {{ bind-attr src=product.avatar }} class='thumbnail'></td>
            <td>  {{ this.product.name }} </td>
            <td>${{ format-price this.product.price }}</td>
            <td>
              {{ quantity }}
              <button {{ action "more" this }}>+</button>
              <button {{ action "less" this }}>-</button>
            </td>
            <td>${{ format-price subtotal }}</td>
            <td><button {{ action "deleteItem" this }}>Remove</button>
          </tr>
           {{/ each }}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td>${{ format-price this.total }}</td>
          </tr>


        </tbody>
      </table>
    </div>